{% load static %}
<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>chessboardjs Example #5001 - Play Random Computer</title>
  <link rel="stylesheet" href="{% static 'css/chessboard-1.0.0.css' %}">
</head>
<body>



<h2>Hej ljudi evo primjer jedne taktike!</h2>
   <p>Da ju tocno rjesite morate pomaknuti 3 bijela pijuna ispred kralja, kraljice, i desnog lovca za 2 polja unaprijed!<br/> Good luck</p>
<!--- Begin Example HTML ------------------------------------------------------>
<div id="myBoard" style="width: 400px"></div>
<p>Hint: dakle morate pocevsi od ljevijeg pomaknuti pijune redom na d4, e4, f4</p>
<p>You can integrate chessboard.js with the <a href="https://github.com/jhlywa/chess.js">chess.js</a> library to play against random moves.</p>
<!--- End Example HTML -------------------------------------------------------->

<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'js/chessboard-1.0.0.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.2/chess.js" integrity="sha384-s3XgLpvmHyscVpijnseAmye819Ee3yaGa8NxstkJVyA6nuDFjt59u1QvuEl/mecz" crossorigin="anonymous"></script>

{{ tactic_data|json_script:"hello-data" }}
<script>
// --- Begin Example JS --------------------------------------------------------
// NOTE: this example uses the chess.js library:
// https://github.com/jhlywa/chess.js

var board = null
var game = new Chess()

const tactic_data = JSON.parse(document.getElementById('hello-data').textContent);
let black_moves = tactic_data.black_moves;
let white_moves = tactic_data.white_moves;
let start = new Date().getTime();

function onDragStart (source, piece, position, orientation) {
  // do not pick up pieces if the game is over
  if (game.game_over()) return false

  // only pick up pieces for White
  if (piece.search(/^b/) !== -1) return false
}

function onTacticSolved() {
    game.clear();
    board.clear();
    let end = new Date().getTime();
    let elapsed_seconds = (end - start) / 1000.0;
    console.log(elapsed_seconds);
    alert(`bravo dobro si rjesio taktiku! I trebalo ti je ${elapsed_seconds} sekundi!`);
}

function makeBlackMove () {
  // game over
  if (black_moves.length < 1) return

  game.move(black_moves[0])
  black_moves.shift();
  board.position(game.fen())
}

function onDrop (source, target) {
  // see if the move is legal
  var move = game.move({
    from: source,
    to: target,
    promotion: 'q' // NOTE: always promote to a queen for example simplicity
  })

  // illegal move
  if (move === null) return 'snapback'

  if(move.san != white_moves[0]) {
    game.undo();
    alert('ne radiš to!!');  
    return 'snapback';
  }
  white_moves.shift();
  if(white_moves.length < 1) {
    window.setTimeout(onTacticSolved, 250);
    return;
  }

  // make random legal move for black
  window.setTimeout(makeBlackMove, 250)
}

// update the board position after the piece snap
// for castling, en passant, pawn promotion
function onSnapEnd () {
  board.position(game.fen())
}

var config = {
  draggable: true,
  position: tactic_data.start_position,
  onDragStart: onDragStart,
  onDrop: onDrop,
  onSnapEnd: onSnapEnd
}
board = Chessboard('myBoard', config)
// --- End Example JS ----------------------------------------------------------
</script>
</body>
</html>
