{% extends "base.html" %}
{% block header %}
	<div class="container text-center">
		<h1>Prikaz profila</h1>
	</div>
{% endblock %}

{% block content %}
    <section id="info">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <h2>{{ detaljan_user.user.username }}</h2>
                <br/>
                    {% if detaljan_user.admin %}
                        <h5>Administrator</h5>
                        <br/>
                    {% elif detaljan_user.trener %}
                        <h5>Trener</h5>
                        <br/>
                    {% endif %}
                    {% if detaljan_user.zabranjenPristup %}
                        <h5>Zabranjen pristup</h5>
                        <form method="post">
                            {% csrf_token %}
                            <button class="btn btn-primary" type="submit" name ="enable" value="{{ detaljan_user.user_id }}">
                                Omogući pristup
                            </button>
                        </form>
                    {% else %}
                        <form method="post">
                            {% csrf_token %}
                            <button class="btn btn-danger" type="submit" name ="disable" value="{{ detaljan_user.user_id }}">
                                Onemogući pristup
                            </button>
                        </form>
                    {% endif %}
                <br/>
                    <div>
                        Datum stvaranja korisničkog računa: {{ detaljan_user.user.date_joined }}
                    </div>
                <br/>
                    <a href="/sviProfili" class="btn btn-link">
                        Povratak na sve profile
                    </a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}