{% extends "base.html" %}
{% load static %}
{% block css_import %}
<link rel="stylesheet" href="{% static 'css/chessboard-1.0.0.css' %}">
{% endblock %}

{% block header %}
<div class="container text-center">
    <h1>Dojavi Grešku</h1>
</div>
{% endblock %}


{% block content %}
<section id="tactic" class="pt-5">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h3 class="mb-3">Upute za unos dojave</h3>
          <p>Molim vas da redom unesete poteze za koje smatrate da su točno rješenje taktike, 
             te da napišete kratki opis greške. Dojava će biti prosljeđena zaduženom treneru na provjeru.
          </p>
          <h5>Opis greške:</h5>
          <textarea id="errorDescriptionTextarea" rows="6" cols="45"></textarea>
          
        </div>
        <div class ="col-6">
          <div class="row">
            <div class="col d-flex justify-content-center">
              <div id="recordingBoard" style="width: 500px"></div>
            </div>
          </div>
          <div class="row recordRow">
            <div class="col d-flex justify-content-center">
              <button id="endRecordBtn" class="btn btn-primary m-2">Objavi dojavu o grešci</button>
            </div>
          </div>
          <div class="row recordRow">
            <div class="col d-flex justify-content-center">
              <div class="card">
                <div class="card-body p-1" id="status">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

<div class="modal fade" id="whiteTurnModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Nepotpuna taktika!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        Zadnji potez taktike mora biti bijeli potez!
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="descriptionTooShortModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Opis greške prekratak!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
  
        <div class="modal-body">
          Molim vas unesite opis greške.
        </div>
      </div>
    </div>
  </div>

<div class="modal fade" id="creationSuccessModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-center">
        <h5 class="modal-title" id="exampleModalLongTitle">Dojava uspješno evidentirana!</h5>
      </div>

      <div class="modal-body d-flex justify-content-center">
        <a href="/" type="button" role="button" class="btn btn-primary">Povratak</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js_import %} 

<script src="{% static 'js/chessboard-1.0.0.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.2/chess.js" integrity="sha384-s3XgLpvmHyscVpijnseAmye819Ee3yaGa8NxstkJVyA6nuDFjt59u1QvuEl/mecz" crossorigin="anonymous"></script>

{{ revision_data|json_script:"revision_data" }}
{% csrf_token %}
<script>
// --- Begin Example JS --------------------------------------------------------
// NOTE: this example uses the chess.js library:
// https://github.com/jhlywa/chess.js
$.ajaxSetup({
   headers:{
    "X-CSRFToken": '{{ csrf_token }}'
   }
});

const tactic_data = JSON.parse(document.getElementById('revision_data').textContent);
let init_config_string = tactic_data.start_position
var recording_board = null
var $status = $('#status')
game = Chess(init_config_string)

function onDragStart (source, piece, position, orientation) {
  //do not pick up pieces if the game is over
  if (game.game_over()) return false

  // only pick up pieces for the side to move
  if ((game.turn() === 'w' && piece.search(/^b/) !== -1) ||
      (game.turn() === 'b' && piece.search(/^w/) !== -1)) {
    return false
  }
}

function onDrop (source, target) {
  // see if the move is legal
  var move = game.move({
    from: source,
    to: target,
    promotion: 'q' // NOTE: always promote to a queen for example simplicity
  })

  //console.log(game.ascii()) ovo je za debugiranje u konzoli

  // illegal move
  if (move === null) return 'snapback'

  updateStatus()
}

// update the board position after the piece snap
// for castling, en passant, pawn promotion
function onSnapEnd () {
  recording_board.position(game.fen())
}

function updateStatus () {
  var status = ''

  var moveColor = 'White'
  if (game.turn() === 'b') {
    moveColor = 'Black'
  }

  // checkmate?
  if (game.in_checkmate()) {
    status = 'Game over, ' + moveColor + ' is in checkmate.'
  }

  // draw?
  else if (game.in_draw()) {
    status = 'Game over, drawn position'
  }

  // game still on
  else {
    status = moveColor + ' to move'

    // check?
    if (game.in_check()) {
      status += ', ' + moveColor + ' is in check'
    }
  }

  $status.html(status)
}

var move_recording_config = {
  draggable: true,
  position: init_config_string,
  onDragStart: onDragStart,
  onDrop: onDrop,
  onSnapEnd: onSnapEnd
}
recording_board = Chessboard('recordingBoard', move_recording_config)
updateStatus()

function endRecordConfirm() {
  if(game.turn() == 'w') {
    $('#whiteTurnModal').modal()
    return
  }
  const error_description = $('#errorDescriptionTextarea').val()
  if (error_description.length < 10) {
    $('#descriptionTooShortModal').modal()  
    return
  }
  let white_moves = []
  let black_moves = []
  game.history().forEach((elem, indx) => {
    if(indx % 2 == 0) {
      white_moves.push(elem)
    } else {
      black_moves.push(elem)
    }
  })
  recording_board.clear()
  const url = '/dojavaGreske';
  const data = {
    white_moves: white_moves.join(','),
    black_moves: black_moves.join(','),
    init_config: init_config_string,
    error_description: error_description,
    tactic_id: tactic_data.tactic_id
  }

  $.post(url, data, function(data, status) {
    $('#creationSuccessModal').modal()
  })
}

$('#endRecordBtn').on('click', endRecordConfirm)
</script>
{% endblock %}
