{% extends "base.html" %}
{% block header %}
<div class="container text-center">
    <h1>Dnevne Taktike</h1>
</div>
{% endblock %}

{% block content %}

<h2 style="margin-left: 5%; margin-bottom: 50px;">Aktivne dnevne taktike</h2>

{% for taktikaIstaknuta in listaTaktikeIstaknute %}



<div class="card border border-dark bg-warning text-dark rounded" style="width: 50%; margin-left: 25%; margin-bottom: 100px; cursor: pointer;" onclick="location.href='/taktika';">
    <div class="card-body">
        <p> Autor: {{ taktikaIstaknuta.autor }} </p>
        <p> Datum: {{ taktikaIstakunta.datum }} </p>
    </div>
</div>
{%endfor%}

<h2 style="margin-left: 5%; margin-bottom: 50px;">Popis neaktivnih dnevnih taktika</h2>

{% for taktika in listaTaktika %}

<div class="card border border-dark bg-dark text-white rounded" style="width: 50%; margin-left: 25%; margin-bottom: 100px; cursor: pointer;" onclick="location.href='/taktika';">
    <div class="card-body">
        <p> Autor: {{ taktika.autor }} </p>
        <p> Datum objave: {{ taktika.datum }} </p>
    </div>
</div>
{%endfor%}

{% endblock %}