{% extends "base.html" %}
{% block header %}
<div class="container text-center">
    <h1>Dnevne Taktike</h1>
</div>
{% endblock %}

{% block content %}

<section id="about" class="pt-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
            
            <h2>Dnevne taktike</h2>
            <div class="list-group mt-3 mb-4">
            {% for taktika in listaTaktika %}
            <a class="{% if taktika.rjeseno %}bg-success text-light {% else %} bg-light {% endif %} list-group-item list-group-item-action border border-dark" href="/taktika?id={{ taktika.idTaktika }}">
                    Ime: {{ taktika.ime }}<br/>
                    Autor: {{ taktika.autor }}<br/>
                    Datum: {{ taktika.datum }}
                    {% if taktika.rjeseno %}<br/> Zabilježeno vrijeme: {{ taktika.vrijeme }} {% endif %}
            </a>
            <a class="list-group-item list-group-item-action border border-dark bg-danger text-light" href="/deleteTaktika?id={{ taktika.idTaktika }}">
                Delete {{ taktika.ime }}
            </a>
            {%endfor%}
            </div>



{% endblock %}