{% extends "base.html" %}
{% block header %}
	<div class="container text-center">
		<h1>Obavijesti</h1>
	</div>
{% endblock %}

{% block content %}
	{% for obavijest in listaObavijesti %}
		{% if forloop.counter|divisibleby:"2" %}
			<section id="obavijest">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 mx-auto">
							<h2>{{ obavijest.naslov }}</h2>
							<p class="lead">{{ obavijest.tekst }}</p>
							<span style="float:left">{{ obavijest.autor }}</span> <span style="float:right">{{ obavijest.datum }}</span>
						</div>
					</div>
				</div>
			</section>
		{% else %}
			<section id="obavijest" class="bg-light">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 mx-auto">
							<h2>{{ obavijest.naslov }}</h2>
							<p class="lead">{{ obavijest.tekst }}</p>
							<span style="float:left">{{ obavijest.autor }}</span> <span style="float:right">{{ obavijest.datum }}</span>
						</div>
					</div>
				</div>
			</section>
		{% endif %}
	{%endfor%}
{% endblock %}