{% extends "base.html" %}
{% block header %}
<div class="container text-center">
    <h1>Dnevne Taktike</h1>
</div>
{% endblock %}

{% block content %}

<section id="about" class="pt-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">

            <h2>Transakcije u poslijednjih mjesec dana</h2>

            <ul class="list-group">
                {% for transakcija in listaTransakcijaMjesec %}
                <li class="list-group-item bg-success">
                    <div>
                        <p class="text-white text-center">
                            Platitelj: {{ transakcija.platitelj }}<br/>
                            Datum: {{ transakcija.datum }}<br/>
                            Iznos: {{ transakcija.iznos }}
                        </p>
                    </div>
                </li>
                {% endfor %}
            </ul>

            <h2>Prijašnje transakcije</h2>
            <ul class="list-group">
                {% for transakcija in listaTransakcijaPrije %}
                <li class="list-group-item bg-secondary">
                    <div>
                        <p class="text-white text-center">
                            Platitelj: {{ transakcija.platitelj }}<br/>
                            Datum: {{ transakcija.datum }}<br/>
                            Iznos: {{ transakcija.iznos }}
                        </p>
                    </div>
                </li>
                {% endfor %}
            </ul>


            <div class="list-group mt-3 mb-4">
            {% for transakcija in listaTransakcija %}
            <a class="bg-light list-group-item list-group-item-action">
                    Platitelj: {{ transakcija.platitelj }}<br/>
                    Datum: {{ transakcija.datum }}<br/>
                    Iznos: {{ transakcija.iznos }}
            </a>
            {%endfor%}
            </div>

        </div>
      </div>
    </div>
</section>



{% endblock %}