from django.template.defaulttags import register
...
@register.filter
def get_item(dictionary, key):
    return dictionary.get(key)
{% extends "base.html" %}
{% block header %}
	<div class="container text-center">
		<h1>Neplaćene članarine</h1>
	</div>
{% endblock %}

{% block content %}
    <section id="info">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <br/>
                    <h3>Članovi koji nisu platili članarinu</h3>
                    <br/>
                </div>
            </div>
            {% for user, value in dictTransakcije.items %}
                <div class="row justify-content-center">
                    <div class="col-lg-8 offset-lg-3">
                        <h3>{{ user.user.username }}</h3>
                        Zadnje plaćanje: {{ value }}
                        <form method="post" style="display:inline-block;">
                            {% csrf_token %}
                            <button class="btn btn-danger" type="submit" name ="status" value="{{ user.id }}">
                                Makni status člana
                            </button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}