{% extends "base.html" %}
{% block header %}
	<div class="container text-center">
		<h1>Treninzi</h1>	<!--if current_user==trener "moji treninzi" else "svi treninzi"-->
		<a class="btn btn-primary" href="/dodavanjetreninga" role="button">Dodaj trening</a>	<!--ovaj gumb prikazuj samo adminu i trenerima-->
	</div>
{% endblock %}

{% block content %}

	{% for trening in listaTreninga %}
			<!--if (current_user==clan||admin) || trening.organizator == current_user-->
			<section id="trening">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 mx-auto">

							<h2>{{ trening.organizator }}</h2>
							<h5>{{ trening.vrijemePocetka }} - {{ trening.vrijemeZavrsetka }} {{ trening.datum }}</h5>
							<p class="lead">{{ trening.opis }}</p>
							<button type="submit" class="btn btn-primary" style="float:left;"								
									onclick={% if user.is_authenticated %} {return redirect(self.request.GET.get(
									'homepage'))} {%endif%}>Prijavi me</button>												<!--ovaj gumb prikazuj clanovima-->
									
							<button type="submit" class="btn btn-secondary" style="background-color:red; float:right;"		
									onclick={% if user.is_authenticated %} {return redirect(self.request.GET.get(
									'homepage'))} {%endif%}>Obriši trening</button>											<!--ovaj gumb prikazuj adminu i trenerima-->
							
						</div>
					</div>
				</div>
			</section>
			<hr>
			<!--end if-->
	{%endfor%}
{% endblock %}