{% extends "base.html" %}
{% block header %}
	<div class="container text-center">
		<h1>Treninzi</h1>	<!--if current_user==trener "moji treninzi" else "svi treninzi"-->
		<a class="btn btn-primary" href="/dodavanjeTreninga" role="button">Dodaj trening</a>	<!--ovaj gumb prikazuj samo adminu i trenerima-->
	</div>
{% endblock %}

{% block content %}

	{% for trening in listaTreninga %}
			<!--if (current_user==clan||admin) || trening.organizator == current_user-->
			<section id="trening">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 mx-auto">

							<h2>{{ trening.organizator }}</h2>
							<h5>{{ trening.vrijemePocetka }} - {{ trening.vrijemeZavrsetka }} {{ trening.datum }}</h5>
							<p class="lead">{{ trening.opis }}</p>
							<form method="post" onsubmit="return confirm('Jeste li sigurni da se želite prijaviti na ovaj trening?');">
								{% csrf_token %}
								<input class="form-control" type="hidden" name="idUsera" value="{{ request.user.id }}" readonly id="id_idUsera">
								<input class="form-control" type="hidden" name="idTreninga" value="{{ trening.idTreninga }}" readonly id="id_idTreninga">
								<button type="submit" class="btn btn-primary" style="float:left;" name="prijava" onclick="potvrdiPrijavu()" >Prijavi me</button><!--ovaj form prikazuj clanovima-->
							</form>
							
							<form method="post" onsubmit="return confirm('Jeste li sigurni da želite obrisati ovaj trening?');">
								<button type="submit" class="btn btn-danger" style="float:right;" name="brisanje">Obriši trening</button>	<!--ovaj gumb prikazuj adminu i trenerima-->
							</form>
							
						</div>
					</div>
				</div>
			</section>
			<hr>
			<!--end if-->
	{%endfor%}
{% endblock %}