{% extends "base.html" %}
{% block header %}
	<div class="container text-center">
		<h1>Turniri</h1>
        {% if request.user.is_authenticated and request.user.profil.trener or request.user.is_authenticated and request.user.profil.admin %}
            <a class="btn btn-primary" href="/dodavanjeTurnira" role="button">Dodaj turnir</a>
        {% endif %}
	</div>
{% endblock %}

{% block content %}
    {% if listaTurnira %}
        {% for turnir in listaTurnira %}
            <section id="turnir">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <h2>{{ turnir.ime }}</h2>
                            <h5>Organizator: {{ turnir.org }}</h5>
                            <h5>Početak: {{ turnir.vrijemeP }} {{ turnir.datumP }}</h5>
                            <h5>Kraj: {{ turnir.vrijemeZ }} {{ turnir.datumZ }}</h5>
                            <h5>Sudionika: {{ turnir.brojSudionika }}/{{ turnir.maxBrojSudionika }} {% if turnir.brojSudionika == turnir.maxBrojSudionika %}Turnir je popunjen.{% endif %}</h5>
                            <p class="lead">{{ turnir.formatTurnira }}</p>
                            {% if turnir.brojSudionika != turnir.maxBrojSudionika %}
                                {% if not turnir.prijavljen %}
                                    {% if request.user.is_authenticated and not request.user.profil.trener and not request.user.profil.admin and turnir.brojSudionika != turnir.  %}
                                        <form method="post" onsubmit="return confirm('Jeste li sigurni da se želite prijaviti na ovaj turnir?');">
                                            {% csrf_token %}
                                            <input class="form-control" type="hidden" name="vrstaSubmita" value="prijava" readonly id="id_vrsta">
                                            <input class="form-control" type="hidden" name="idUsera" value="{{ request.user.id }}" readonly id="id_idUsera">
                                            <input class="form-control" type="hidden" name="idTurnira" value="{{ turnir.id }}" readonly id="id_idTurnira">
                                            <button type="submit" class="btn btn-primary" style="float:left;" name="prijava">Prijavi me</button>
                                        </form>	
                                    {% endif %}
                                {% else %}
                                    {% if request.user.is_authenticated and not request.user.profil.trener and not request.user.profil.admin  %}
                                        <form method="post" onsubmit="return confirm('Jeste li sigurni da se želite odjaviti s ovog turnira?');">
                                            {% csrf_token %}
                                            <input class="form-control" type="hidden" name="vrstaSubmita" value="odjava" readonly id="id_vrsta">
                                            <input class="form-control" type="hidden" name="idUsera" value="{{ request.user.id }}" readonly id="id_idUsera">
                                            <input class="form-control" type="hidden" name="idTurnira" value="{{ turnir.id }}" readonly id="id_idTurnira">
                                            <button type="submit" class="btn btn-primary" style="float:left; background-color:orange; border-color:orange;" name="odjava">Odjavi me</button>
                                        </form>	
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                            {% if request.user.is_authenticated and request.user.profil.trener and turnir.orgId == request.user.id or request.user.is_authenticated and request.user.profil.admin %}
                                <form method="post" onsubmit="return confirm('Jeste li sigurni da želite obrisati ovaj turnir?');">
                                    {% csrf_token %}
                                    <input class="form-control" type="hidden" name="vrstaSubmita" value="brisanje" readonly id="id_vrsta">
                                    <input class="form-control" type="hidden" name="idUsera" value="{{ request.user.id }}" readonly id="id_idUsera">
                                    <input class="form-control" type="hidden" name="idTurnira" value="{{ turnir.id }}" readonly id="id_idTurnira">
                                    <button type="submit" class="btn btn-danger" style="float:left;" name="brisanje">Obriši turnir</button>
                                </form>
							{% endif %}
                        </div>
                    </div>
                </div>
            </section>
            <hr>
        {%endfor%}
    {% else %}
        <section class="pt-5">
        <div class="container">
          <div class="row">
            <div class="col d-flex justify-content-center">
              <h4>Trenutno nema organiziranih turnira.</h4>
            </div>
          </div>
        </div>
    </section>
    {% endif %}
{% endblock %}